<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tailand Card</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="">
    <div class="w-96 bg-white rounded-xl shadow-sm hover:shadow-lg hover:-translate-y-2">
    <img src="https://dummyimage.com/720x400" alt="Image" class="w-full rounded-t-xl">
    
    <div class="p-5">
      <div class="">Category</div>
      <div class="text-xl font-bold mt-1 mb-2">The Catalyzer</div>
      <p class="text-gray-600 text-sm mb-4">
        Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
      </p>
      
      <div class="flex justify-between text-sm text-gray-500 items-center">
        <a href="#" class="hover:underline">Learn More →</a>
        <div class="flex gap-3">
          <span>👁 1.2K</span>
          <span class="text-gray-300">|</span>
          <span>💬 6</span>
        </div>
      </div>
    </div>
  </div>

</body>
</html>