:root {
  /* Light theme RGB values */
  --primary-color: #005BBF;
  --surface-tint-color: #000000;
  --on-primary-color: #ffffff;
  --primary-container-color: #60EDAD;
  --secondary-color: #87abee;
  --on-secondary-color: #ffffff;
  --tertiary-color: #01263a;
  --on-tertiary-color: #007bff;

  --error-color: #ff1900;
  --on-error-color: black;
}

:root[class~='dark'] {
  /* Dark theme RGB values */
  --primary-color: #005BBF;
  --surface-tint-color: #000000;
  --on-primary-color: #ffffff;
  --primary-container-color: #60EDAD;
  --secondary-color: #87abee;
  --on-secondary-color: #ffffff;
  --tertiary-color: #01263a;
  --on-tertiary-color: #007bff;

  --error-color: #ff1900;
  --on-error-color: black;
  
}

.theme inline {
  /* Color definitions for both themes */
  --color-primary: (var(--primary-color));
  --color-surface-tint: (var(--surface-tint-color));
  --color-on-primary: (var(--on-primary-color));
  --color-primary-container: (var(--primary-container-color));
  --color-secondary: (var(--secondary-color));
  --color-on-secondary: (var(--on-secondary-color));
  --color-tertiary: (var(--tertiary-color));
  --color-on-tertiary: (var(--on-tertiary-color));
  --color-error: (var(--error-color));
  --color-on-error: (var(--on-error-color));

  --color-surface: (var(--surface-color));

}
