:root {
  /* Light theme RGB values */
  --primary-color: #005BBF;
  --surface-tint-color: #d7e1ff;
  --on-primary-color: #ffffff;
  --primary-container-color: 214 227 255;
  --on-primary-container-color: 40 71 119;
  --secondary-color: #87abee;
  --on-secondary-color: #ffffff;
  --secondary-container-color: 218 226 249;
  --on-secondary-container-color: 62 71 89;
  --tertiary-color: #01263a;
  --on-tertiary-color: #007bff;
  --tertiary-container-color: 250 216 253;
  --on-tertiary-container-color: 87 62 92;
  --error-color: #ff1900;
  --on-error-color: black;
  --error-container-color: 255 218 214;
  --on-error-container-color: 147 0 10;
  --background-color: 249 249 255;
  --on-background-color: 25 28 32;
  --surface-color: 249 249 255;
  --on-surface-color: 25 28 32;
  --surface-variant-color: 224 226 236;
  --on-surface-variant-color: 68 71 78;
  --outline-color: 116 119 127;
  --outline-variant-color: 196 198 208;
  --shadow-color: 0 0 0;
  --scrim-color: 0 0 0;
  --inverse-surface-color: 46 48 54;
  --inverse-on-surface-color: 240 240 247;
  --inverse-primary-color: 170 199 255;
}

:root[class~='dark'] {
  /* Dark theme RGB values */
  --primary-color: #005BBF;
  --surface-tint-color: #000000;
  --on-primary-color: #ffffff;
  --primary-container-color: 214 227 255;
  --on-primary-container-color: 40 71 119;
  --secondary-color: #87abee;
  --on-secondary-color: #ffffff;
  --secondary-container-color: 218 226 249;
  --on-secondary-container-color: 62 71 89;
  --tertiary-color: #01263a;
  --on-tertiary-color: #007bff;
  --tertiary-container-color: 250 216 253;
  --on-tertiary-container-color: 87 62 92;
  --error-color: #ff1900;
  --on-error-color: black;
  --error-container-color: 255 218 214;
  --on-error-container-color: 147 0 10;
  --background-color: 249 249 255;
  --on-background-color: 25 28 32;
  --surface-color: 249 249 255;
  --on-surface-color: 25 28 32;
  --surface-variant-color: 224 226 236;
  --on-surface-variant-color: 68 71 78;
  --outline-color: 116 119 127;
  --outline-variant-color: 196 198 208;
  --shadow-color: 0 0 0;
  --scrim-color: 0 0 0;
  --inverse-surface-color: 46 48 54;
  --inverse-on-surface-color: 240 240 247;
  --inverse-primary-color: 170 199 255;
}

.theme inline {
  /* Color definitions for both themes */
  --color-primary: rgb(var(--primary-color));
  --color-surface-tint: rgb(var(--surface-tint-color));
  --color-on-primary: rgb(var(--on-primary-color));
  --color-primary-container: rgb(var(--primary-container-color));
  --color-on-primary-container: rgb(var(--on-primary-container-color));
  --color-secondary: rgb(var(--secondary-color));
  --color-on-secondary: rgb(var(--on-secondary-color));
  --color-secondary-container: rgb(var(--secondary-container-color));
  --color-on-secondary-container: rgb(var(--on-secondary-container-color));
  --color-tertiary: rgb(var(--tertiary-color));
  --color-on-tertiary: rgb(var(--on-tertiary-color));
  --color-tertiary-container: rgb(var(--tertiary-container-color));
  --color-on-tertiary-container: rgb(var(--on-tertiary-container-color));
  --color-error: rgb(var(--error-color));
  --color-on-error: rgb(var(--on-error-color));
  --color-error-container: rgb(var(--error-container-color));
  --color-on-error-container: rgb(var(--on-error-container-color));
  --color-background: rgb(var(--background-color));
  --color-on-background: rgb(var(--on-background-color));
  --color-surface: rgb(var(--surface-color));
  --color-on-surface: rgb(var(--on-surface-color));
  --color-surface-variant: rgb(var(--surface-variant-color));
  --color-on-surface-variant: rgb(var(--on-surface-variant-color));
  --color-outline: rgb(var(--outline-color));
  --color-outline-variant: rgb(var(--outline-variant-color));
  --color-shadow: rgb(var(--shadow-color));
  --color-scrim: rgb(var(--scrim-color));
  --color-inverse-surface: rgb(var(--inverse-surface-color));
  --color-inverse-on-surface: rgb(var(--inverse-on-surface-color));
  --color-inverse-primary: rgb(var(--inverse-primary-color));
}