@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  /* Light theme RGB values */
  --primary-color: #005BBF;
  --surface-tint-color: #d7e1ff;
  --on-primary-color: #ffffff;
  --primary-container-color: #d7e2ff;
  --on-primary-container-color: #2a4678;
  --secondary-color: #87abee;
  --on-secondary-color: #ffffff;
  --secondary-container-color: #dae2f9;
  --on-secondary-container-color: #3f4759;
  --tertiary-color: #01263a;
  --on-tertiary-color: #007bff;
  --tertiary-container-color: #cbe6ff;
  --on-tertiary-container-color: #004b71;
  --error-color: #ff1900;
  --on-error-color: black;
  --error-container-color: #ff9387;
  --on-error-container-color: #93000a;
  --background-color: #f9f9ff;
  --on-background-color: #1a1b20;
  --surface-color: #f9f9ff;
  --on-surface-color: #1a1b20;
  --surface-variant-color: #c4c6d0;
  --on-surface-variant-color: #44474f;
  --outline-color: #74777f;
  --outline-variant-color: #c4c6d0;
  --shadow-color: #000000;
  --scrim-color: #000000;
  --inverse-surface-color: #2f3036;
  --inverse-on-surface-color: #f0f0f7;
  --inverse-primary-color: #acc7ff;
}

:root[class~='dark'] {
  /* Dark theme RGB values */
  --primary-color: #acc7ff;
  --surface-tint-color: #111318;
  --on-primary-color: #0f2f60;
  --primary-container-color: #2a4678;
  --on-primary-container-color: #d7e2ff;
  --secondary-color: #bec6dc;
  --on-secondary-color: #283041;
  --secondary-container-color: #3f4759;
  --on-secondary-container-color: #dae2f9;
  --tertiary-color: #97ccf8;
  --on-tertiary-color: #00344f;
  --tertiary-container-color: #004b71;
  --on-tertiary-container-color: #cbe6ff;
  --error-color: #ffb4ab;
  --on-error-color: #690005;
  --error-container-color: #93000a;
  --on-error-container-color: #ffdad6;
  --background-color: #000000;
  --on-background-color: #dae2f9;
  --surface-color: #111318;
  --on-surface-color: #e2e2e9;
  --surface-variant-color: #1a1b20;
  --on-surface-variant-color: #c4c6d0;
  --outline-color: #8e9099;
  --outline-variant-color: #44474f;
  --shadow-color: #000000;
  --scrim-color: #000000;
  --inverse-surface-color: #e2e2e9;
  --inverse-on-surface-color: #2f3036;
  --inverse-primary-color: #435e91;
}

@theme inline {
  /* Color definitions for both themes */
  --color-primary: var(--primary-color);
  --color-surface-tint: var(--surface-tint-color);
  --color-on-primary: var(--on-primary-color);
  --color-primary-container: var(--primary-container-color);
  --color-on-primary-container: var(--on-primary-container-color);
  --color-secondary: var(--secondary-color);
  --color-on-secondary: var(--on-secondary-color);
  --color-secondary-container: var(--secondary-container-color);
  --color-on-secondary-container: var(--on-secondary-container-color);
  --color-tertiary: var(--tertiary-color);
  --color-on-tertiary: var(--on-tertiary-color);
  --color-tertiary-container: var(--tertiary-container-color);
  --color-on-tertiary-container: var(--on-tertiary-container-color);
  --color-error: var(--error-color);
  --color-on-error: var(--on-error-color);
  --color-error-container: var(--error-container-color);
  --color-on-error-container: var(--on-error-container-color);
  --color-background: var(--background-color);
  --color-on-background: var(--on-background-color);
  --color-surface: var(--surface-color);
  --color-on-surface: var(--on-surface-color);
  --color-surface-variant: var(--surface-variant-color);
  --color-on-surface-variant: var(--on-surface-variant-color);
  --color-outline: var(--outline-color);
  --color-outline-variant: var(--outline-variant-color)
  --color-shadow: var(--shadow-color);
  --color-scrim: var(--scrim-color);
  --color-inverse-surface: var(--inverse-surface-color);
  --color-inverse-on-surface: var(--inverse-on-surface-color);
  --color-inverse-primary: var(--inverse-primary-color);
}
